<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{titulo}}</h1>
        <label for="">Auto:</label>
        <input type="text" v-model="nuevoAuto" @keyup.enter="agregarAuto">

        <button @click="agregarAuto">Agregar</button>
        <ul>
            <li v-for="auto of autos">
                {{auto.nombre}}-
                    <input type="number" v-model.number="auto.cantidad">
                    <button @click="auto.cantidad--">-</button>
                    <button @click="auto.cantidad++">+</button>
                <span v-if="auto.cantidad === 0">sin sctok</span>
            </li>
        </ul>
        <h4 >Total: {{sumarAutos}}</h4>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="01.js"></script>
</body>
</html>